<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" href="favicon.svg" type="image/x-icon">
    <script src="./src/assets/library/responsivevoice.js" type="module"></script>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=cEI6Kvic"></script>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
